<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mayprayer.admin.mapper.BlogCategoryMapper">

    <sql id="allColumn">
        SELECT id, create_time, create_by, update_time, update_by, is_delete, category_name, sort FROM blog_category;
    </sql>

    <resultMap type="BlogCategory" id="BlogCategoryResult">
        <result property="id" column="id" />
        <result property="createTime" column="create_time" />
        <result property="createBy" column="create_by" />
        <result property="updateTime" column="update_time" />
        <result property="updateBy" column="update_by" />
        <result property="isDelete" column="is_delete" />
        <result property="categoryName" column="category_name" />
        <result property="sort" column="sort" />
    </resultMap>


    <insert id="insertArticleCategory" keyProperty="id" useGeneratedKeys="true">
        insert into  blog_category
        <trim prefix="(" suffixOverrides=")" prefixOverrides=",">
            <if test="createTime!=null">
                create_time,
            </if>
            <if test="createBy!=null and createBy!=''">
                create_by,
            </if>
            <if test="updateTime!=null">
                update_time,
            </if>
            <if test="updateBy!=null and updateBy!=''">
                update_by,
            </if>
            <if test="isDelete!=null">
                is_delete,
            </if>
            <if test="categoryName!=null and categoryName!='' ">
                category_name,
            </if>
            <if test="sort!=null ">
                sort,
            </if>
        </trim>
        value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime!=null">
                #{createTime},
            </if>
            <if test="createBy!=null and createBy!=''">
                #{createBy},
            </if>
            <if test="updateTime!=null">
                #{updateTime},
            </if>
            <if test="updateBy!=null and updateBy!=''">
                #{updateBy},
            </if>
            <if test="isDelete!=null">
                #{isDelete},
            </if>
            <if test="categoryName!=null and categoryName!='' ">
                #{category_name},
            </if>
            <if test="sort!=null ">
                #{sort},
            </if>
        </trim>
    </insert>





    <select id="getArticleCategoryList" resultType="BlogCategory" parameterType="BlogCategory">
        <include refid="allColumn"/>
        <where>
            is_delete = 0 and
            <trim suffixOverrides="and">
                <if test="id!=null">
                    id = #{id}  and
                </if>
                <if test="createTime!=null">
                    date_format(create_time,'%y%m%d')=date_format(#{createTime},'%y%m%d') and
                </if>
                <if test="categoryName!=null and categoryName!=''">
                    category_name  = #{categoryName}  and
                </if>
                <if test="sort!=null">
                    sort  = #{sort}  and
                </if>
            </trim>
        </where>
        order by create_time desc
    </select>



    <update id="batchDelArticleCategory" parameterType="list">
        update  blog_category set is_delete = 1 where id in
        <foreach collection="idList" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </update>


    <update id="updateArticleCategory" parameterType="BlogCategory">
        update    blog_category
        <set>
            <if test="categoryName!=null and categoryName!=''">
                category_name = #{categoryName},
            </if>
            <if test="sort!=null ">
                sort = #{sort},
            </if>
        </set>
        where id = #{id}
    </update>






</mapper>